<a href="https://colab.research.google.com/github/brdacunha/BECN/blob/main/Valores_de_Cinza_BECN.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import pandas as pd

Tecido1 = pd.read_csv('https://raw.githubusercontent.com/brdacunha/BECN/main/Tecido_1.csv')
Tecido2 = pd.read_csv('https://raw.githubusercontent.com/brdacunha/BECN/main/Tecido%202.csv')
df_1 = pd.read_csv('https://raw.githubusercontent.com/brdacunha/BECN/main/Tecido_1_para_ANOVA.csv') # tabela de valores do Tecido_1 no formato para calcular ANOVA
df_2 = pd.read_csv('https://raw.githubusercontent.com/brdacunha/BECN/main/Tecido%202_ANOVA.csv') # tabela de valores do Tecido_2 no formato para calcular ANOVA
df_2

         Grupos  Valores de Cinza
0    Controle_2            196.06
1    Controle_2            196.34
2    Controle_2            196.54
3    Controle_2            196.90
4    Controle_2            196.70
..          ...               ...
745   Candida_2            182.11
746   Candida_2            181.86
747   Candida_2            181.55
748   Candida_2            181.77
749   Candida_2            182.60

[750 rows x 2 columns]

In [ ]:
!pip install pingouin

In [5]:
import pingouin as pg

aov_1 = pg.anova(data = df_1, dv = 'Valores de Cinza', between = 'Grupos', detailed = True) # teste ANOVA para Tecido_1
aov_1

   Source            SS   DF           MS           F          p-unc       np2
0  Grupos  13905.045585    4  3476.261396  250.084345  4.069693e-136  0.573148
1  Within  10355.765133  745    13.900356         NaN            NaN       NaN

In [7]:
aov_2 = pg.anova(data = df_2, dv = 'Valores de Cinza', between = 'Grupos', detailed = True) # teste ANOVA para Tecido_2
aov_2

   Source             SS   DF            MS            F  p-unc       np2
0  Grupos  103454.108846    4  25863.527212  7793.253962    0.0  0.976659
1  Within    2472.436785  745      3.318707          NaN    NaN       NaN