<a href="https://colab.research.google.com/github/brdacunha/BECN/blob/main/Valores_de_Cinza_BECN.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import pandas as pd

Tecido1 = pd.read_csv('https://raw.githubusercontent.com/brdacunha/BECN/main/Tecido_1.csv')
Tecido2 = pd.read_csv('https://raw.githubusercontent.com/brdacunha/BECN/main/Tecido%202.csv')
df_1 = pd.read_csv('https://raw.githubusercontent.com/brdacunha/BECN/main/Tecido_1_para_ANOVA.csv') # tabela de valores do Tecido_1 no formato para calcular ANOVA
df_2 = pd.read_csv('https://raw.githubusercontent.com/brdacunha/BECN/main/Tecido%202_ANOVA.csv') # tabela de valores do Tecido_2 no formato para calcular ANOVA
df_2

         Grupos  Valores de Cinza
0    Controle_2            196.06
1    Controle_2            196.34
2    Controle_2            196.54
3    Controle_2            196.90
4    Controle_2            196.70
..          ...               ...
745   Candida_2            182.11
746   Candida_2            181.86
747   Candida_2            181.55
748   Candida_2            181.77
749   Candida_2            182.60

[750 rows x 2 columns]

In [ ]:
!pip install pingouin # precisa instalar o Pingouin toda vez que abrir o notebook.

In [7]:
import pingouin as pg

aov_1 = pg.anova(data = df_1, dv = 'Valores de Cinza', between = 'Grupos', detailed = True) # teste ANOVA para Tecido_1
aov_1

   Source            SS   DF           MS           F          p-unc       np2
0  Grupos  13905.045585    4  3476.261396  250.084345  4.069693e-136  0.573148
1  Within  10355.765133  745    13.900356         NaN            NaN       NaN

In [7]:
aov_2 = pg.anova(data = df_2, dv = 'Valores de Cinza', between = 'Grupos', detailed = True) # teste ANOVA para Tecido_2
aov_2

   Source             SS   DF            MS            F  p-unc       np2
0  Grupos  103454.108846    4  25863.527212  7793.253962    0.0  0.976659
1  Within    2472.436785  745      3.318707          NaN    NaN       NaN

In [9]:
pt_1 = pg.pairwise_tukey(data = df_1, dv = 'Valores de Cinza', between = 'Grupos', effsize = 'cohen') # Teste Tukey para verificar a diferenÃ§a estatÃ­stica entre os grupos - Tecido 1.
pt_1.round(3)

,A,B,mean(A),mean(B),diff,se,T,p-tukey,cohen
0,Candida_1,Controle_1,160.382,172.968,-12.587,0.431,-29.236,0.000,-3.376
1,Candida_1,Omo_1,160.382,168.338,-7.956,0.431,-18.480,0.000,-2.134
2,Candida_1,Sabao em barra_1,160.382,168.930,-8.548,0.431,-19.855,0.000,-2.293
3,Candida_1,Vanish_1,160.382,164.212,-3.830,0.431,-8.897,0.000,-1.027
4,Controle_1,Omo_1,172.968,168.338,4.631,0.431,10.756,0.000,1.242
5,Controle_1,Sabao em barra_1,172.968,168.930,4.039,0.431,9.381,0.000,1.083
6,Controle_1,Vanish_1,172.968,164.212,8.756,0.431,20.339,0.000,2.349
7,Omo_1,Sabao em barra_1,168.338,168.930,-0.592,0.431,-1.375,0.644,-0.159
8,Omo_1,Vanish_1,168.338,164.212,4.125,0.431,9.583,0.000,1.107
9,Sabao em barra_1,Vanish_1,168.930,164.212,4.717,0.431,10.958,0.000,1.265

In [10]:
pt_2 = pg.pairwise_tukey(data = df_2, dv = 'Valores de Cinza', between = 'Grupos', effsize = 'cohen') # Teste Tukey para verificar a diferenÃ§a estatÃ­stica entre os grupos - Tecido 2.
pt_2.round(3)

,A,B,mean(A),mean(B),diff,se,T,p-tukey,cohen
0,Candida_2,Controle_2,180.868,192.704,-11.836,0.21,-56.266,0.0,-6.497
1,Candida_2,Omo_2,180.868,173.400,7.468,0.21,35.504,0.0,4.100
2,Candida_2,Sabao em barra_2,180.868,157.476,23.393,0.21,111.205,0.0,12.841
3,Candida_2,Vanish_2,180.868,182.922,-2.054,0.21,-9.764,0.0,-1.127
4,Controle_2,Omo_2,192.704,173.400,19.304,0.21,91.770,0.0,10.597
5,Controle_2,Sabao em barra_2,192.704,157.476,35.228,0.21,167.471,0.0,19.338
6,Controle_2,Vanish_2,192.704,182.922,9.782,0.21,46.502,0.0,5.370
7,Omo_2,Sabao em barra_2,173.400,157.476,15.924,0.21,75.701,0.0,8.741
8,Omo_2,Vanish_2,173.400,182.922,-9.522,0.21,-45.268,0.0,-5.227
9,Sabao em barra_2,Vanish_2,157.476,182.922,-25.447,0.21,-120.970,0.0,-13.968